extends layout

block content
	h1(class='text-2xl font-bold mb-4') #{title}
	a(href='/characters/create')
		button(class='bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-green-700') Add Character
	table(class='w-full table-auto border-collapse border border-black my-2')
		thead
			tr(class='bg-primary text-white')
				th(class='border border-black px-4 py-2') Name
				th(class='border border-black px-4 py-2') Franchise
		tbody
			each character in characters
				tr
					td(class='border border-black px-4 py-2')
						a(href=`/characters/${character.id}` class='text-blue-500 hover:text-blue-700')= character.name
					td(class='border border-black px-4 py-2') #{character.franchise}
					td(class='border border-black px-4 py-2')
						a(href=`/characters/${character.id}/edit` class='text-green-500 hover:text-green-700 ml-4') Edit
						a(href=`/characters/${character.id}/delete` class='text-red-500 hover:text-red-700 ml-4') Delete
