extends layout 
include hidden_image_inputs

block content

	h1.text-4xl.font-semibold.text-center.mt-8.mb-2 #{title}
	p.text-lg.font-semibold.text-red-600.mb-4.mt-2 If you haven't created a character yet, please do so by visiting the #[a(href='/characters/create' class='hover:text-primary underline') Create Character] page before creating a figure.
		form(method='POST' action='' enctype='multipart/form-data')
			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='name') Name:
			input.block.border.border-gray-300.px-4.py-2(type='text' id='name' name='name' value=(figure === undefined ? '' : figure.name || '') required)

			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='character') Character
			select#character.border.border-gray-300.px-4.py-2.block.w-full(name='character' required)
				each character in characters
					option(value=character.id selected=(figure === undefined ? false : figure.character == character.id)) #{character.name} (#{character.franchise})

			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='image') Image
			if imageSrc
				img#image-preview(src=imageSrc alt='Image preview' class='mb-2 w-80')
			input.border.border-gray-300.px-4.py-2.block.w-full(type='file' id='image-input' name='image')
			if actionType === 'edit'
				+hiddenImageInputs(figure)

			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='description') Description
			textarea#description.border.border-gray-300.px-4.py-2.block.w-full(name='description')= figure === undefined ? '' : figure.description || ''

			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='manufacturer') Manufacturer
			input#manufacturer.border.border-gray-300.px-4.py-2.block.w-full(type='text' name='manufacturer' value=(figure === undefined ? '' : figure.manufacturer || ''))

			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='material') Material
			input#material.border.border-gray-300.px-4.py-2.block.w-full(type='text' name='material' value=(figure === undefined ? '' : figure.material || '') required)

			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='quantity') Quantity
			input#quantity.border.border-gray-300.px-4.py-2.block.w-full(type='number' name='quantity' min='1' value='1')

			label.block.mt-4.text-gray-700.text-sm.font-bold.mb-2(for='price') Price
			input#price.border.border-gray-300.px-4.py-2.block.w-full(type='number' name='price' value=(figure === undefined ? '' : figure.price || '') required)

			button(type='submit' class='bg-green-500 text-white px-4 py-2 my-2 rounded hover:bg-green-700') #{actionType} Figure

			if errors
				ul
					for error in errors
						li.text-red-500!= error.msg