extends layout

block content
  h1 Update Figure

  form(method="post" action="/figures/#{figure.id}/update" enctype="multipart/form-data")
    input(type="hidden" name="_method" value="PUT")

    label(for="name") Name
    input#name(type="text" name="name" value=figure.name required)

    label(for="character") Character
    select#character(name="character" required)
      each character in characters
        option(value=character.id selected=(character.id == figure.character.id)) #{character.name} (#{character.franchise})

    label(for="image") Image
    input#image(type="file" name="image")

    label(for="description") Description
    textarea#description(name="description")=figure.description

    label(for="manufacturer") Manufacturer
    input#manufacturer(type="text" name="manufacturer" value=figure.manufacturer required)

    label(for="material") Material
    input#material(type="text" name="material" value=figure.material required)

    label(for="quantity") Quantity
    input#quantity(type="number" name="quantity" min="1" value=figure.quantity)

    label(for="price") Price
    input#price(type="number" name="price" value=figure.price required)

    button(type="submit") Update Figure